@charset "utf-8";
/* CSS Document */

body,
html {
  margin: 0;
  padding: 0;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
    "sans-serif";
}

header {
  background-color: #232020;
  color: antiquewhite;
  text-align: center;
  padding: 15px;
}

.c {
  display: grid;
  grid-template-rows: 50px, 50px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 15px;
}

.d {
  background-color: #232020;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 16px;
}

footer {
  background-color: #232020;
  color: antiquewhite;
  padding: 18px;
  text-align: center;
  width: 100%;
  bottom: 0;
  position: fixed;
}
