@charset "utf-8";
/* CSS Document */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  background-color: yellow;
  width: 120px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  color: black;
  border-radius: 30px;
  padding-top: 25px;
  border: 0;

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

div:hover {
  background-color: goldenrod;
  padding: 15px;
}
